@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

body{
    color: white;
    background-color: #333;
    font-family: 'Golos Text', Arial, sans-serif;

}

.container{
    margin-left: 5vw;
}

body a{
    color: white;
}

nav a{
    color: white;
}

#searchPlayer{
    display: none;
}

.createTeamWrapper{
    display: none;
}

.teamCardWrapper a{
    color: white;
    flex: 10;
}

.teamCardWrapper form{
    flex: 1;
}

.teamCardWrapper{
    display: flex;
    width: 50%;
    margin-left: 150px;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.gridItem{
    margin-top: 10px;
}

.statsGrid{
    display: grid;
    grid-template-columns: 150px 150px;
}

#statsOverlay{
    display: none;
    position: absolute;
    padding: 0px 20px 20px 20px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#closeOverlay{
    position: absolute;
    top: 0;
    right: 0;
}

#closeWrapper{
    position: relative;
}

#closeWrapper:hover{
    cursor: pointer;
}

.gridItem a{
    color: white;
}

.grid2{
    display: grid;
    grid-template-columns: 150px 150px;
}

nav{
    width: 70%;
}

nav ul{
    display: flex;
    margin-top: 30px;
    padding: 0;
}

nav ul li{
    flex: 1;
    list-style: none;
}

.inputsWrapper{
    position: relative;
}

.inputs{
    padding: 15px 5px 3px 5px;
    border: 0.5px solid grey;
    border-radius: 5px;
    font-size: 15px;
    width: 15vw;
    margin-bottom: 15px;
    background-color: #0e1624;
    color: white;
    transition: box-shadow 0.2s;
}

.inputs:focus + .inputLabel{
    animation: inputOnFocus 0.5s forwards;
}

.inputs:focus{
    border: 0.5px solid #0e6eff;
    box-shadow: 0 0 7px #0e6eff;
    outline: none;
}

.inputLabel{
    position: absolute;
    color: grey;
    font-size: 15px;
    top: 9px;
    left: 5px;
}

.outFocus + .inputLabel{
    animation: inputOutFocus 0.5s forwards;
}

.submitButton{
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 100px;
    background-color: #0e6eff;
    border: 0px;
    color: white;
    transition: background-color 0.2s;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #004ec4;
}

@keyframes inputOnFocus{
    from{
        top: 9px;
        font-size: 15px;
    }
    to{
        top: 2px;
        font-size: 12px;
    }
}

@keyframes inputOutFocus {
    from{
        top: 2px;
        font-size: 12px;
    }
    to{
        top: 9px;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px){
    nav{
        width: 100%;
    }
    .inputs{
        width: 70%
    }
}