body{
    color: white;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    color: white;
}

#searchPlayer{
    display: none;
}

.createTeamWrapper{
    display: none;
}

.teamCardWrapper a{
    color: white;
    flex: 10;
}

.teamCardWrapper form{
    flex: 1;
}

.teamCardWrapper{
    display: flex;
    width: 50%;
    margin-left: 150px;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.gridItem{
    margin-top: 10px;
}

.statsGrid{
    display: grid;
    grid-template-columns: 150px 150px;
}

#statsOverlay{
    display: none;
    position: absolute;
    padding: 0px 20px 20px 20px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#closeOverlay{
    position: absolute;
    top: 0;
    right: 0;
}

#closeWrapper{
    position: relative;
}

#closeWrapper:hover{
    cursor: pointer;
}