<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/back/dashboard">Dashboard</a></li>
        <li>
            <a id="usernameWrapper"><%= username %></a>
            <ul id="profileUl" class="hidden">
                <li><a href="/pages/profile">Profile</a></li>
                <li>
                    <form action="/pages/sign-out" method="POST">
                        <button>Sign out</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<script>
    document.getElementById("usernameWrapper").addEventListener("click", (event) => {
        document.getElementById("profileUl").classList.toggle("visible")
        document.getElementById("profileUl").classList.toggle("hidden")
    })
</script>