<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/dashboard">Dashboard</a></li>
        <li><a href="/pages/teams/show">My teams</a></li>
        <li><a href="/pages/leagues/create">Create league</a></li>
        <li><a href="/pages/leagues">View all leagues</a></li>
        <li>
            <span id="usernameWrapper"><%= username %></>
            <ul id="profileUl" class="hidden">
                <li><a href="/pages/profile" id="profileLink" style="display: flex;"><img src="/user-solid.svg" width="20px"> <span>Profile</span></a></li>
                <li>
                    <form action="/pages/sign-out" method="POST">
                        <button id="signOutButton" style="display: flex;"><img src="/signOut.svg" width="20px"><span> Sign out</span></button>
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <span>Notifications</span>
            <div>
                <% notifications.forEach(notification => { %>
                    <% if(notification.type == 1){ %>
                        Friend request from: 
                        <%= notification.data.username %>
                        
                    <% } %>
                <% }) %>
            </div>
        </li>
    </ul>
</nav>
<script>
    document.getElementById("usernameWrapper").addEventListener("click", (event) => {
        document.getElementById("profileUl").classList.toggle("visible")
        document.getElementById("profileUl").classList.toggle("hidden")
    })
</script>