<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/pages/users/register">Register</a></li> -->
        <li><a href="/pages/teams/create">Create team</a></li>
        <li><a href="/pages/teams/show">Show teams</a></li>
    </ul>
</nav>