<nav>
    <ul>
        <li><a href="/pages/users/<%= userId %>">Home</a></li>
        <li><a href="/pages/users/<%= userId %>/teams/create">Create team</a></li>
        <li><a href="/pages/users/<%= userId %>/teams/show">Show teams</a></li>
        <li><a href="/pages/users/<%= userId %>/leagues/create">Create league</a></li>
    </ul>
</nav>