<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/dashboard">Dashboard</a></li>
        <li><a href="/pages/teams/show">My teams</a></li>
        <li><a href="/pages/leagues/create">Create league</a></li>
        <li><a href="/pages/leagues">View all leagues</a></li>
        <li><a href="/pages/profile">Profile</a></li>
        <li>
            <form action="/pages/sign-out" method="POST">
                <button>Sign out</button>
            </form>
        </li>
    </ul>
</nav>