<nav>
    <ul>
        <li><a href="/pages">Home</a></li>
        <li><a href="/pages/teams/show">My teams</a></li>
        <li><a href="/pages/leagues/create">Create league</a></li>
        <li><a href="/pages/leagues">View all leagues</a></li>
        <li><a href="/pages/profile">Profile</a></li>
    </ul>
</nav>