<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create league</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-MJ05FTYNYB');
    </script>
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Create league</h2>
        <form action="/pages/leagues/create" method="POST">
            <div class="inputsWrapper">
                <input type="text" id="name" name="name" class="inputs" onfocusout="checkElement('name', 'nameLabel')" maxlength="35" required>
                <label for="name" class="inputLabel" id="nameLabel">Name</label>
            </div>
            <div class="inputsWrapper">
                <input type="number" id="maxUsers" name="maxUsers" class="inputs" max="50" value="30">
                <label for="maxUsers" class="defaultUp" id="maxUsersLabel">Maximum users</label>
            </div>
            <label>Availability</label>
            <select name="public" id="public">
                <option value="true">Public</option>
                <option value="false">Private</option>
            </select>
            <br><button class="submitButton">Create</button>
        </form>
    </div>
    <script src="/checkInput.js"></script>
</body>
</html>