<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create team</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Create team</h2>
        <div class="createTeamConfirm">
            <input type="text" placeholder="Team name" id="teamName">
            <button id="createTeamName">Start creating!</button>
        </div>
        <div class="createTeamWrapper">
            <div class="createTeam">
                Point guard: <label id="PG"></label>
                <a class="button PG">Add player</a>
                <br> Shooting guard: <label id="SG"></label>
                <a class="button SG">Add player</a>
                <br> Small forward: <label id="SF"></label>
                <a class="button SF">Add player</a>
                <br> Power forward: <label id="PF"></label>
                <a class="button PF">Add player</a>
                <br> Center: <label id="C"></label>
                <a class="button C">Add player</a>
            </div>
            <div id="searchPlayer">
                <h3>Search for player</h3>
                <input type="text" id="searchInput">
                <button onclick="search()">Search</button>
                <div id="searchResults"></div>
            </div>
        </div>
        <div id="statsOverlay">
            <div id="statsWrapper">
                <div id="closeWrapper">
                    <a id="closeOverlay">X</a>
                </div>
                <h3 id="playerName">Player Name</h3>
                <div id="playerStats">
                    <div class="statsGrid">
                        <div class="gridItem">
                            Games Played:
                        </div>
                        <div class="gridItem">
                            <label id="gamesPlayed"></label>
                        </div>
                        <div class="gridItem">
                            Minutes:
                        </div>
                        <div class="gridItem">
                            <label id="minutes"></label>
                        </div>
                        <div class="gridItem">
                            FG%:
                        </div>
                        <div class="gridItem">
                            <label id="fgPct"></label>
                        </div>
                        <div class="gridItem">
                            Points:
                        </div>
                        <div class="gridItem">
                            <label id="points"></label>
                        </div>
                        <div class="gridItem">
                            Rebounds:
                        </div>
                        <div class="gridItem">
                            <label id="rebounds"></label>
                        </div>
                        <div class="gridItem">
                            Assists:
                        </div>
                        <div class="gridItem">
                            <label id="assists"></label>
                        </div>
                        <div class="gridItem">
                            Steals:
                        </div>
                        <div class="gridItem">
                            <label id="steals"></label>
                        </div>
                        <div class="gridItem">
                            Blocks:
                        </div>
                        <div class="gridItem">
                            <label id="blocks"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let seachPlayer = document.getElementById("searchPlayer")
        let position
        let teamName
        document.addEventListener("click", async (e) => {
            if(e.target.classList.contains("button")){
                position = e.target.classList[1]
                searchPlayer.style.display = "block"
            }
            if(e.target.classList.contains("addPlayer")){
                let resultsWrapper = document.getElementById("searchResults")
                while (resultsWrapper.firstChild) {
                    resultsWrapper.removeChild(resultsWrapper.firstChild);
                }
                let searchInput = document.getElementById("searchInput")
                let playerName = e.target.parentNode.childNodes[0].innerText
                let playerId = e.target.parentNode.childNodes[2].innerText
                searchInput.value = ""
                document.getElementById(position).innerText = playerName
                document.querySelector("." + position).remove()
                document.getElementById("searchPlayer").style.display = "none"
                await fetch(`https://nbafantasy.games/pages/teams/leagues/<%= leagueId%>/add/players/${playerId}?position=${position}&teamName=${teamName}`, {
                    method: "POST",
                    credentials: "include",
                    headers: {
                        "access-control-allow-credentials": true
                    }
                })
                .then(response => response.json())
                .then((response) => {
                    if(response.status == 406){
                        alert(response.message)
                    }
                })
            }
            if(e.target.id == "createTeamName"){
                teamName = document.getElementById("teamName").value
                if(teamName){
                    document.querySelector(".createTeamWrapper").style.display = "block"
                    document.querySelector(".createTeamConfirm").style.display = "none"
                } else{
                    alert("Please enter a team name before getting started.")
                }
            }
            if(e.target.id == "closeOverlay"){
                document.getElementById("statsOverlay").style.display = "none"
            }
            if(e.target.classList.contains("playerLabel")){
                let playerId = e.target.parentNode.childNodes[2].innerText
                document.getElementById("statsOverlay").style.display = "block"
                document.getElementById("playerName").innerText = e.target.innerText
                fetch(`https://www.balldontlie.io/api/v1/season_averages?season=2020&player_ids[]=${playerId}`)
                .then(response => response.text())
                .then(text => {
                    let parsed = JSON.parse(text)
                    document.getElementById("gamesPlayed").innerText = parsed.data[0].games_played
                    document.getElementById("minutes").innerText = parsed.data[0].min
                    document.getElementById("fgPct").innerText = (parsed.data[0].fg_pct * 100).toFixed(1)
                    document.getElementById("points").innerText = parsed.data[0].pts
                    document.getElementById("rebounds").innerText = parsed.data[0].reb
                    document.getElementById("assists").innerText = parsed.data[0].ast
                    document.getElementById("steals").innerText = parsed.data[0].stl
                    document.getElementById("blocks").innerText = parsed.data[0].blk
                })
            }
        })
        function search(){
            let resultsWrapper = document.getElementById("searchResults")
            while (resultsWrapper.firstChild) {
                resultsWrapper.removeChild(resultsWrapper.firstChild);
            }
            let input = document.getElementById("searchInput").value
            fetch(`https://www.balldontlie.io/api/v1/players?search=${input}`)
            .then(response => response.text())
            .then(text => {
                let parsed = JSON.parse(text);
                parsed.data.forEach(player => {
                    let createdLabel = document.createElement("label");
                    let createdButton = document.createElement("button")
                    let createdDiv = document.createElement("div")
                    let idLabel = document.createElement("label")
                    createdButton.innerText = "Add player"
                    createdButton.classList.add("addPlayer")
                    createdLabel.innerText = player.first_name + " " + player.last_name + "    "
                    createdLabel.classList.add("playerLabel")
                    idLabel.innerText = player.id
                    idLabel.style.display = "none"
                    createdDiv.append(createdLabel)
                    createdDiv.append(createdButton)
                    createdDiv.append(idLabel)
                    resultsWrapper.append(createdDiv)
                })
            })
        }
    </script>
</body>
</html>