<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops something went wrong!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="overflow: hidden;">
    <div class="container" id="errorContainer">
        <% if(loggedIn == true){ %>
            <%- include("_navbar") %>
        <% } else{ %>
            <%- include("_notLoggedNav") %>
        <% } %>
        <div id="errorWrapper"> 
            <h1>Oops something went wrong!</h1>
            <img src="/404.svg" alt="" id="404SVG" width="800">
        </div>
    </div>
</body>
</html>