<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an NBA fantasy team website.">
    <meta name="google-site-verification" content="dk_V1LtlM34isyhqFjqxE8FNH5Ax5KSPGQT4yzIuilM" />
    <title>Home | NBA Fantasy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_notLoggedNav.ejs") %>
        <!-- <form action="/pages/search" method="POST">
            <input type="text" name="search" id="search" placeholder="Search users">
            <button>Search</button>
        </form> -->
    </div>
</body>
</html>