<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-MJ05FTYNYB');
     </script>
</head>
<body>
    <!-- <div class="container"> -->
        <div id="mainLoginWrapper">
            <div id="loginSVGWrapper">
                <img src="/login.svg" alt="loginSVG" width="500px">
            </div>
            <div id="loginWrapper">
                <h1>Login</h1>
                <form action="/pages/users/login" method="POST">
                    <div class="inputsWrapper">
                        <input type="text" id="username" name="username" class="inputs" onfocusout="checkElement('username', 'usernameLabel')" maxlength="35" required>
                        <label for="username" class="inputLabel" id="usernameLabel">Username</label>
                    </div>
                    <div class="inputsWrapper">
                        <input type="password" id="password" name="password" class="inputs" onfocusout="checkElement('password', 'passwordLabel')" required>
                        <label for="password" class="inputLabel" id="passwordLabel">Password</label>
                    </div>
                    <button class="submitButton">Login</button>
                </form>
                <span id="line"></span>
                <h5>Don't have an account yet?</h5>
                <a href="/pages/register" id="registerButton">Register</a>
            </div>
        </div>
        <div id="homeButton">
            <a href="/">Home</a>
        </div>
    <!-- </div> -->
    <script src="/checkInput.js"></script>
</body>
</html>