<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-MJ05FTYNYB');
     </script>
</head>
<body>
    <div class="container">
        <%- include("_notLoggedNav.ejs") %>
        <h1>Login</h1>
        <form action="/pages/users/login" method="POST">
            <div class="inputsWrapper">
                <input type="text" id="username" name="username" class="inputs" onfocusout="checkUsername()" maxlength="35">
                <label for="username" class="inputLabel" id="usernameLabel">Username</label>
            </div>
            <div class="inputsWrapper">
                <input type="password" id="password" name="password" class="inputs" onfocusout="checkPassword()">
                <label for="password" class="inputLabel" id="passwordLabel">Password</label>
            </div>
            <button class="submitButton">Login</button>
        </form>
    </div>
    <script>
        function checkUsername(){
            let usernameValue = document.getElementById("username")
            let usernameLabel = document.getElementById("usernameLabel")
            if(usernameValue.value.trim() == ""){
                username.classList.add("outFocus")
            } else{
                usernameLabel.style.top = "2px"
                usernameLabel.style.fontSize = "12px"
            }
        }

        function checkPassword(){
            let usernameValue = document.getElementById("password")
            let usernameLabel = document.getElementById("passwordLabel")
            if(usernameValue.value.trim() == ""){
                username.classList.add("outFocus")
            } else{
                usernameLabel.style.top = "2px"
                usernameLabel.style.fontSize = "12px"
            }
        }
    </script>
</body>
</html>