<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password | NBA Fantasy</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-MJ05FTYNYB');
     </script>
</head>
<body>
    <form action="/api/reset-password/<%= token %>" method="POST" id="resetPassword">
        <h1>Reset password</h1>
        <div class="inputsWrapper">
            <input type="password" id="password" name="password" class="inputs" onfocusout="checkElement('password', 'passwordLabel')" required>
            <label for="password" class="inputLabel" id="passwordLabel">New password</label>
        </div>
        <div class="inputsWrapper">
            <input type="password" id="confirmPassword" name="confirmPassword" class="inputs" onfocusout="checkElement('password', 'passwordLabel')" required>
            <label for="password" class="inputLabel" id="confirmPasswordLabel">Confirm password</label>
        </div>
        <button class="submitButton" id="realRegisterButton">Submit</button>
    </form>
    <script src="/checkInput.js"></script>
    <script>
        document.getElementById("confirmPassword").addEventListener("input", () => {
            let confirmPassword = document.getElementById("confirmPassword")
            let password = document.getElementById("password")
            if(confirmPassword.value !== password.value){
                confirmPassword.classList.add("inputError")
                document.getElementById("confirmPasswordLabel").innerText = "Passwords don't match"
                document.getElementById("realRegisterButton").disabled = "disabled"
            } else {
                confirmPassword.classList.remove("inputError")
                document.getElementById("confirmPasswordLabel").innerText = "Confirm password"
                document.getElementById("realRegisterButton").disabled = ""
            }
        })
    </script>
</body>
</html>